<div>
    <h5 class="my-2">
        In loving memory of Nate Hughes.
    </h5>

    <div class="content d-flex flex-column flex-sm-row justify-content-around align-items-center">
        <div>
            <h5 class="mt-2">Temporary</h5>
            <ul>
                <li>
                    <a href="/error/tbd.html">Obituary</a>
                </li>
            </ul>
        </div>

        <div>
            <h5 class="mt-2">Temporary</h5>
            <ul>
                <li>
                    <a href="/error/tbd.html">
                        A link that goes nowhere
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div style="margin-top: 30px;">
        <small>Copyright &copy; 2024, The Heyborne Family.</small>
    </div>
</div>